<div class="panel panel-default">

  <div class="panel-body">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h2>Generate pairs</h2>
          </div>
          <div class="col-md-4">
            <%= link_to 'Generate pairs', pairs_path , method: :get, class: 'btn btn-default pull-right pull-down' %>
          </div>
        </div>
      </div>
    </div>
      <div class="panel-body">
        <div class="panel panel-default" >
          <div class="panel-heading">
            <div class="row">
              <div class="col-md-7">
                <h2>Overview pairs</h2>
              </div>
            </div>
          </div>
          <% @pairs.each do |pair| %>
            <div class="panel-heading">
              <div class="row datestyle">
                <%=" #{pair[0]}" %>
              </div>
              <div class="row fsize">
                <div class="col-md-4">
                  <%=" #{pair[1].first_name}  #{pair[1].last_name}" %>
                </div>
                <div class="col-md-4">
                  <%=" #{pair[2].first_name}  #{pair[2].last_name}" %>
                </div>
                <div class="col-md-4">
                  <% if pair[3] %>
                    <%=" #{pair[3].first_name}  #{pair[3].last_name}" %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
