<div class="panel panel-default">

  <div class="panel-body">
    <div class="panel panel-default" >
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-8">
            <h2>Generate pairs</h2>
          </div>
          <div class="col-md-4">
            <%= button_to 'Save', students_root_path, action:  "save" , class: 'btn btn-default pull-right pull-down mleft' %>
            <%= button_to 'Generate pairs', students_root_path, action: "generate_pairs" , class: 'btn btn-default pull-right pull-down' %>
          </div>
      </div>
      <% if @pairs %>
        <% @pairs.each do |pair| %>
          <div class="panel-heading">
            <%=" #{pair[0].first_name}  #{pair[0].last_name}" %>
            +
            <%=" #{pair[1].first_name}  #{pair[1].last_name}" %>

            <% if pair[2] %>
            +
              <%=" #{pair[2].first_name}  #{pair[2].last_name}" %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
